.info-panel {
    width: 30%;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border-radius: 12px;
    @extend %panel-margin;
}

// Announcements Section
.panel-header {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.announcements {
    grid-column: 1 / span 3;
    grid-row: 2;
    padding: 10px;
}

.card-one {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: $button-color;
    border-radius: 12px;

    p:first-of-type {
        margin-bottom: 15px;
    }

    * {
        margin: 10px;
    }

    h4:nth-child(3) {
        border-top: 1px solid black;
        padding-top: 10px;
    }
}

<<<<<<< HEAD
=======

>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
// Team Stats Section
.card-two {
    margin: 0 10px;
    text-align: center;
}

.team-stats {
    grid-column: 1 / span 2;
    grid-row: 5;
    padding: 10px;
}

.stats {
    grid-column: 1 / span 3;
    grid-row: 6;

    img {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-size: contain;
        border-radius: 12px;
        border: 1px solid black;
    }
}

.stats-highlight {
    grid-column: 1 / span 3;
    grid-row: 8;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;

    p:nth-child(2) {
        color: $text-color;
        font-size: 3rem;
    }
}