// Main (middle) Panel
.main-panel {
    width: 50%;
    background-color: rgb(132, 221, 243);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    align-content: center;
    justify-items: center;

    .panel-header {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .recent {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    .active {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    .urgent {
        grid-column: 3 / 3;
        grid-row: 2 / 2;
    }

    .project-one {
        grid-column: span 4;
        grid-row: 4 / span 5;
        background-image: url("./images/project.jpg");
        width: 50%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .project-two {
        grid-column: span 4;
        grid-row: 4 / span 5;
        background-image: url("./images/project.jpg");
        width: 50%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .project-three {
        grid-column: span 4;
        grid-row: 4 / span 5;
        background-image: url("./images/project.jpg");
        width: 50%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

/* Project Titles & Icons */
.project-icons p {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.project-icons img {
   width: 25px;
   height: 25px;
}

/* Calendar Title and Dates */
.calendar-header {
    grid-column: 1 / 1;
    grid-row: 10 / 11;
}

.date {
    grid-column: 8 / span 9;
    grid-row: 10 / 11;
}

.calendar-view {
    grid-column: 1 / span 8;
    grid-row: 12 / span 14;
}

.days {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.team-updates {
    grid-column: 1 / span 4;
    grid-row: 14 / span 16;
}

.unassigned {
    grid-column: 5 / span 9;
    grid-row: 14 / span 16;
}