// Placeholder Selectors
%project-size {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 18px;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// Main (middle) Panel
.main-panel {
    width: 50%;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    align-content: center;
    justify-items: center;
    border-radius: 12px;
    @extend %panel-margin;

    .panel-header {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    .recent {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
    }

    .active {
        grid-column: 3 / 3;
        grid-row: 3 / 3;
    }

    .urgent {
        grid-column: 4 / 4;
        grid-row: 3 / 3;
    }

    .project-one {
        grid-column: span 4;
        grid-row: 4 / span 3;
        background-image: url("./images/project.jpg");
<<<<<<< HEAD
        @extend %project-size;
=======
        @extend project-size;
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
    }

    .project-two {
        grid-column: span 4;
        grid-row: 4 / span 3;
        background-image: url("./images/project.jpg");
<<<<<<< HEAD
        @extend %project-size;
=======
        @extend project-size;
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
    }

    .project-three {
        grid-column: span 4;
        grid-row: 4 / span 3;
        background-image: url("./images/project.jpg");
<<<<<<< HEAD
        @extend %project-size;
=======
        @extend project-size;
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
    }
}

/* Project Titles & Icons */
.project-icons p {
    @extend %flex-centered;
    margin-top: 10rem; /* Not optimal, will refactor in the future */
    flex-direction: row;
    width: 100%;
    gap: 30px;

    img {
        width: 25px;
        height: 25px;
    }
}


/* Calendar Title and Dates */
.calendar-header {
    grid-column: 2 / span 2;
    grid-row: 10 / span 1;
    margin: auto;
}

.date {
    grid-column: 9 / span 3;
    grid-row: 10;
    margin: auto;
    background-color: $button-color;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid black;
}

.calendar-view {
    grid-column: 3 / span 7;
    grid-row: 11 / span 1;
}

.days {
    @extend %flex-centered;
    gap: 50px;
    text-align: center;
}

.day p:nth-child(2) {
    font-weight: bold;
}

// Bottom Cards
.team-updates {
    grid-column: 3 / span 3;
    grid-row: 14 / span 1;
<<<<<<< HEAD
    @extend %flex-center;
    margin: 10px;
    background-color: $button-color;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid black;

    img {
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
        margin: 0 10px;
=======
    @extend %card-box;

    img {
        @extend %mainpanel-bottom-img;
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
    }
}

.unassigned {
    grid-column: 7 / span 3;
    grid-row: 14 / span 1;
<<<<<<< HEAD
    @extend %flex-center;
    margin: 10px;
    background-color: $button-color;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid black;

    img {
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
        margin: 0 10px;
=======
    @extend %card-box;

    img {
        @extend %mainpanel-bottom-img;
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
    }
}