.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px;
    font-weight: bold;

<<<<<<< HEAD
    // Left Side
=======
    // Left side
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
    .logo {
        width: 30%;
    }

<<<<<<< HEAD
    // Center-Left Side
    .search {
        width: 100%;
        /* Not optimal, will refactor in the future */
        margin-top: 10px;
=======
    // Center-left side
    .search {
        width: 100%;  /* Not optimal, will refactor in the future */
        margin-top: 10px;
   
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83

        input {
            border: 1px solid $primary-color;
            border-radius: 12px;
            height: 30px;
            padding: 15px 10px;
        }
<<<<<<< HEAD

=======
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
        input::placeholder {
            background-image: url("./images/search.svg");
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 20px;
        }
    }

<<<<<<< HEAD
    // Right Side
    .user-profile {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .user-profile img {
        width: 25px;
        height: 25px;
    }

=======
    // Right side
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
    .language {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
    }

    .notifications {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
    }

    .profile-icon {
        border-radius: 50%;
        height: 75px;
        width: 75px;
        background-image: url("./images/github.svg");
        background-repeat: no-repeat;
    }

<<<<<<< HEAD

=======
    .user-profile {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

     img {
        width: 25px;
        height: 25px;
    }
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
}