.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px;
    font-weight: bold;

    // Left side
    .logo {
        width: 30%;
    }

    // Center-left side
    .search {
        width: 100%; /* Not optimal, will refactor in the future */
        margin-top: 10px;

        input {
            border: 1px solid $primary-color;
            border-radius: 12px;
            height: 30px;
            padding: 15px 10px;
        }

        input::placeholder {
            background-image: url("./images/search.svg");
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 20px;
        }
    }

    // Right side
    .language {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
    }

    .notifications {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
    }

    .profile-icon {
        border-radius: 50%;
        height: 75px;
        width: 75px;
        background-image: url("./images/github.svg");
        background-repeat: no-repeat;
    }

    .logo {
        width: 30%;
    }

    .search {
        width: 40%;
    }

    .user-profile {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    img {
        width: 25px;
        height: 25px;
    }
}