@import "utilities";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px;
    font-weight: bold;

    .language {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
    }

    .notifications {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
    }

    .profile-icon {
        border-radius: 50%;
        height: 75px;
        width: 75px;
        background-image: url("./images/github.svg");
        background-repeat: no-repeat;
    }

    .logo {
        width: 30%;
    }

    .search {
        width: 40%;
    }

    .user-profile {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .user-profile img {
        width: 25px;
        height: 25px;
    }
}