@import "utilities";

.side-panel {
    width: 20%;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-weight: bold;
    @extend %panel-margin;
    border-radius: 12px;

<<<<<<< HEAD
    p {
        display: flex;
        justify-content: left;
        align-items: center;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-right: 250px;
    }

    p:nth-child(1) {
        background-color: aqua;
    }

    img {
        width: 35px;
        height: 35px;
        margin: 10px;
=======
    img {
        width: 35px;
        height: 35px;
        margin: 10px;
    }

    p {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-right: 250px;
    }

    p:nth-child(1) {
        background-color: aqua;
>>>>>>> d7a5329ea00ac42d77b5bc8a486f8e3ed729ef83
    }
}