.side-panel {
    width: 20%;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-weight: bold;
    margin: 0 15px 15px 15px;
    border-radius: 12px;

    img {
        width: 35px;
        height: 35px;
        margin: 10px;
    }

    p {
        display: flex;
        justify-content: left;
        align-items: center;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        margin: 40px 250px 40px 0;
    }

    p:nth-child(1) {
        background-color: aqua;
        padding-right: 20px;
    }
}