.side-panel {
    width: 20%;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-weight: bold;
    margin: 0 15px 15px 15px;
    border-radius: 12px;
    }

.side-panel img {
    width: 35px;
    height: 35px;
    margin: 10px;
}

.side-panel p {
    display: flex;
    justify-content: left;
    align-items: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 250px;
}

.side-panel p:nth-child(1) {
    background-color: aqua;
}