/* Defaults & Variables */

$primary-color: #f0ece2;
$secondary-color: #dfd3c3;
$button-color: #c7b198;
$text-color: #596e79;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "lato", sans-serif;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: black;
}

h4 {
    text-align: center;
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $secondary-color;
}

/* Flex Container */
.flex {
    display: flex;
    width: 100%;
    max-height: 90vh;
}