@import "side-panel";
@import "main-panel";
@import "info-panel";

$light-color: rgb(89, 157, 212);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: black;
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Use width property instead of max-width */
 

    .navbar {
        background-color: $light-color;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* Use width property instead of max-width */

        .language {
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
        }

        .notifications {
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
        }

        .profile-icon {
            border: 1px solid black;
            border-radius: 50%;
            height: 75px;
            width: 75px;
        }

        .logo {
            width: 30%;
        }

        .search {
            width: 40%;
        }

        .user-profile {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
        }
    }
}


.grid {
    display: flex;
    width: 100%;
    background-color: red;
}