/* Defaults & Variables */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "lato", sans-serif;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  color: black;
}

h4 {
  text-align: center;
}

/* Main Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(89, 157, 212);
}

/* Flex Container */
.flex {
  display: flex;
  width: 100%;
}

.navbar {
  background-color: rgb(89, 157, 212);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px;
}
.navbar .language {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.navbar .notifications {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}
.navbar .profile-icon {
  border: 1px solid black;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
.navbar .logo {
  width: 30%;
}
.navbar .search {
  width: 40%;
}
.navbar .user-profile {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.navbar .user-profile img {
  width: 25px;
  height: 25px;
}

.side-panel {
  width: 20%;
  background-color: rgb(196, 151, 151);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.side-panel img {
  width: 35px;
  height: 35px;
  margin: 10px;
}

.side-panel p {
  display: flex;
  justify-content: left;
  align-items: center;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-right: 250px;
}

.side-panel p:nth-child(1) {
  background-color: aqua;
}

.main-panel {
  width: 50%;
  background-color: rgb(132, 221, 243);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
  align-content: center;
  justify-items: center;
}
.main-panel .panel-header {
  grid-column: 1/1;
  grid-row: 1/1;
}
.main-panel .recent {
  grid-column: 1/1;
  grid-row: 2/2;
}
.main-panel .active {
  grid-column: 2/2;
  grid-row: 2/2;
}
.main-panel .urgent {
  grid-column: 3/3;
  grid-row: 2/2;
}
.main-panel .project-one {
  grid-column: span 4;
  grid-row: 4/span 5;
  background-image: url("./images/project.jpg");
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-panel .project-two {
  grid-column: span 4;
  grid-row: 4/span 5;
  background-image: url("./images/project.jpg");
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-panel .project-three {
  grid-column: span 4;
  grid-row: 4/span 5;
  background-image: url("./images/project.jpg");
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Project Titles & Icons */
.project-icons p {
  display: flex;
  margin-top: 10rem; /* Not optimal, will refactor in the future */
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project-icons img {
  width: 25px;
  height: 25px;
}

/* Calendar Title and Dates */
.calendar-header {
  grid-column: 1/span 2;
  grid-row: 10/span 11;
}

.date {
  grid-column: 8/span 9;
  grid-row: 10/span 11;
}

.calendar-view {
  grid-column: 2/span 9;
  grid-row: 11/span 12;
}

.days {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.team-updates {
  grid-column: 2/span 4;
  grid-row: 14/span 16;
}

.unassigned {
  grid-column: 6/span 8;
  grid-row: 14/span 16;
}

.info-panel {
  width: 30%;
  background-color: purple;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.panel-header {
  grid-column: 1/span 2;
  grid-row: 1;
}

.card {
  grid-column: 1/span 3;
  grid-row: 2/span 4;
}

.team-stats {
  grid-column: 1/span 2;
  grid-row: 5;
}

.stats {
  grid-column: 1/span 3;
  grid-row: 4/span 6;
}/*# sourceMappingURL=style.css.map */